<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Removing netowrks</title>
</head>
<body>
    <div class="top">
        <h1><a href="{{ url_for('home') }}">GUI for RIP</a></h1>
    </div>

    <section class="content">
        <h2>Removing networks</h2>
        {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
        {% endfor %}
        <form method="post">
            <label for="network_ip">Network address:</label>
            <input name="network_ip" id="network_ip" required>
            <input type="submit" value="Remove network">
        </form>
        <button type="button" onclick="window.location.href = '{{ url_for('home') }}';">Back</button>
    </section>
</body>
</html>
